h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 60px;
}
.splash-text{
	padding-top: 2vh;
}
.panel{
	height: 610px;
	background-color: rgba(245,210,255, .6);
	padding-left: 15px;
	padding-right: 15px;
}
.signupWindow{
	padding-top: 2vh;
	padding-left: 0;
	padding-right: 0;
}
.submitButton{
	position: absolute;
	bottom: 30px;
}
.signupForm{
	padding-top: 20px;
	width: 100%;
}