<h1>Your Connections:</h1>
<div class="sidebar">
	<div class="connectionBar">
		<div class="connection" *ngFor="let match of matchesPromise | async">
			<a href="/user/{{match.username}}">
				
				<img src="{{match.imglink}}" width="85px" height="85px">
			</a>

			<a>
				<h4 (click)="showUser(match.uid)">{{match.name}}</h4>
			</a>
		</div>
		
	</div>
</div>
<div class="main">
	<h3>Connect</h3>
	
	<div class="chatarea">
		<div class="container" *ngIf="currentUser">
			<h2>Find Me on Github!</h2>
			<h2>{{currentUser.contact}}</h2>
		</div>
		<div class="container" *ngIf="!currentUser">
			<h2>Click on a Connection!</h2>
		</div>
	</div>
	
	
</div>
