<header>
	<img src="" width="250px" height="250px">
	<h2>
		<input type="text" placeholder="Your Name">
		<button type="submit" class="btn btn-link">Save</button>
	</h2>
	<h3>
		<input type="text" placeholder="Your Location">
		<button type="submit" class="btn btn-link">Save</button>
	</h3>
</header>
<section>
	<div>
		<h4>About Me</h4>
		<p>
			<textarea rows="7" placeholder="Add info here..."></textarea>
			<br>
			<button type="submit" class="btn btn-link">Save</button>
		</p>
	</div>
	<div>
		<h4>Coding Languages</h4>
		<p>
			<textarea rows="3" placeholder="Add coding languages here..."></textarea>
			<br>
			<button type="submit" class="btn btn-link">Save</button>
		</p>
	</div>
	<div>
		<h4>Hobbies</h4>
		<p>
			<textarea rows="5" placeholder="Add hobbies here..."></textarea>
			<br>
			<button type="submit" class="btn btn-link">Save</button>
		</p>
	</div>
</section>
