div .form-group {
	text-align: center;
  color: #73437F;
}

.center-div {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 3px;
}

.profpic{
	border-radius: 50%;
}

.container {
  background-color: rgba(222, 201, 228, 0.48);
  border-radius: 5%;
  border: 2px solid #73437F;
}