<form class="formCont" (ngSubmit)="onSubmit()" #createForm="ngForm">
	<h1>Create Profile</h1>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username" [(ngModel)]="model.username">
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name">
			</div>
			<div class="form-group">
				<label for="gender">Gender</label>
				<select class="form-control" id="gender" name="gender" [(ngModel)]="model.gender">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>
			<div class="form-group">
				<label for="prefgender">Preferred Gender</label>
				<select class="form-control" id="prefGender" name="prefGender" [(ngModel)]="model.prefGender">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>
			<div class="form-group">
				<label for="age">Age</label>
				<input type="number" class="form-control" id="age" name="age" [(ngModel)]="model.age">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="city">City</label>
				<input type="text" class="form-control" id="city" name="city" [(ngModel)]="model.city">
			</div>
			<div class="form-group">
				<label for="about">About</label>
				<input type="text" class="form-control" id="about" name="about" [(ngModel)]="model.about">
			</div>
			<div class="form-group">
				<label for="imglink">Link for Profile Picture</label>
				<input type="text" class="form-control" id="imglink" name="imglink" [(ngModel)]="model.imglink">
			</div>

			<div class="form-group">
				<label for="langs">Languages</label>
<!-- 				ngModelChange gets called whenever there is a change in the input -->
				<input type="text" class="form-control" id="langs" name="langs" (ngModelChange)="split()" [(ngModel)]="langs">
			</div>
			<div class="form-group">
				<label for="hobbies">Hobbies</label>
				<input type="text" class="form-control" id="hobbies" name="hobbies" (ngModelChange)="split()" [(ngModel)]="hobbies">
			</div>
			<div class="form-group">
				<label for="contact">Contact Email</label>
				<input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="model.contact">
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
</form>